* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    max-width: 1200px;
    background: linear-gradient(to bottom,#009688 0px,#009688 15vh, black 15vh, black 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    overflow: hidden;
}

.container {
    max-width: 1500px;
    height: 100vh;
    margin: auto;
    padding: 15px 0;
    display: flex;
}

/* !!! Left section */
.left-section {
    width: 35%;
    height: 100%;
    border: 1px solid #404447;
    background-color: #131c21;
}
/* User's box */
.left-section .user-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2a2f32;
}
/* Activate notification box */
.left-section .notifications {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:#085373;
}
.left-section .notifications i {
    background-color: grey
}
/* SearchBar */
.left-section .searchbar {
    border-bottom: 1px solid #242d32;
    text-align: center;
}
.left-section .searchbar input {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 20px;
    outline: 0;
    background-color: #323739;
    border: none;
    text-align: center;
    color: white;
}
/* Chats box */
.left-section .chats {
    height: calc(100% - 201px);
    overflow: auto;
}
/* Single contact */
.left-section .chats .contact {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-section .chats .contact:hover{
    background-color: #323739;
}

/* !!! Right section */
.right-section{
    background-image: url("../img/chat-bg.jpg");
    background-size: contain;
    width: 65%;
    height: 100%;
}
/* Chat info */
.right-section .chat-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2a2f32;
    text-align: center;
}
/* Chat body */
.right-section .chat-main {
    height: calc(100% - 140px);
    overflow: auto;
}
/* Chat user's comands */
.right-section .chat-footer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2a2f32;
}
.right-section .chat-footer input {
    width: 80%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 20px;
    outline: 0;
    background-color: #323739;
    border: none;
    text-align: center;
    color: white;
}









/* REUSABLE CLASS */

img {width: 50px; cursor: pointer;}
i {padding: 10px; cursor: pointer;}
.radius {border-radius: 100%;}
span {padding: 0 10px;}

.toggle-link-notification {font-size: 0.8rem; text-decoration: underline; color: grey; cursor: pointer;}


.flex {display: flex; justify-content: space-between; align-items: center;}
.flex-column {display: flex; flex-direction: column;}

.m-10-lr {margin: 0 10px;}