* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    /* background: linear-gradient(to bottom,#009688 0px,#009688 15vh, black 15vh, black 100%); */
    /* background-repeat: no-repeat; */
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container {
    /* max-width: 1200px; */
    /* padding: 10px 0; */
    min-width: 700px;
    height: 100vh;
    margin: auto;
    display: flex;
}

/* ! Left section ! */
.left-section {
    width: 35%;
    height: 100%;
    border-right: 1px solid #404447;
    background-color: #131c21;
}

/* User's Profile Info */
.left-section .user-header {
    height: 70px;
    background-color: #2a2f32;
}

/* Activate Nofification */
.left-section .notifications {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #056162;
}
.left-section .notifications i {
    background-color: grey;
    color: #056162;
    font-size: 15px;
}
.turn-on-notification-link {
    font-size: 0.7rem;
    text-decoration: underline;
    color: grey;
    cursor: pointer;
}

/* Chats box */
.left-section .chats {
    height: calc(100% - 201px);
    overflow: auto;
}
/* Single contact */
.left-section .chats .contact {
    padding: 10px;
    cursor: pointer;
}
.left-section .chats .contact:hover{
    background-color: #323739;
}
.left-section .chats .contact p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.left-section .chats .contact .chat-info {
    width: 70%;
}
.left-section .chats.list-empty i{
    font-size: 50px;
    color: #056162;
}


/* ! Right section ! */
/* Chat Stucture */
.right-section {
    background-image: url("../img/chat-bg.jpg");
    background-size: contain;
    width: 65%;
    height: 100%;
}
/* Chat Info & Chat Comands */
.right-section .chat-header,
.right-section .chat-footer {
    height: 70px;
    background-color: #2a2f32;
}

/* Chat Body */
.right-section .chat-main {
    height: calc(100% - 140px);
    overflow: auto;
    padding: 50px;
}

/* Messages */
.right-section .chat-main .message {
    width: 51%;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    word-break: break-all;
    font-size: 0.9rem;
    line-height: 1.6;
}
/* Received messages */
.right-section .chat-main .message.received {
    background-color: #262d31;
    float: left;
}
/* Sent messages */
.right-section .chat-main .message.sent {
    background-color: #056162;
    float: right;
}
/* Comic book effect with 'balloon' graphic sign */
.right-section .chat-main .message.sent:before {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    color:  #056162;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    display: inline-block;
    vertical-align: middle;
}
.right-section .chat-main .message.sent p.small-text:after {
    color: grey;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    display: inline-block;
    padding: 0 5px;
}
.right-section .chat-main .message.received:before {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    color:  #262d31;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d9";
    display: inline-block;
    vertical-align: middle;
}

/* Show this at application start */
.havent-chat {
    width: 65%;
    height: 100%;
    background-color: #222f37;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.6;
}
.havent-chat img {
    width: 35%;
    align-self: center;
}
.havent-chat p a {
    color: #00af9c;
    text-decoration: none;
    font-weight: bold;
}


/* ****************************** REUSABLE CLASS ****************************** */

/* FlexBox */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* Float */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left { float: left; }
.float-right { float: right; }

/* Align */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

/* Show & Hidden */
.show {display: block;}
.hidden {display: none;}

/* Input */
Input {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: 0;
    background-color: #323739;
    color: white;
    text-align: center;
}

img {width: 50px; cursor: pointer;}

i {padding: 10px; cursor: pointer;}

.radius {border-radius: 100%;}

.p-10 { padding: 10px; }

.m-10-lr {margin: 0 10px;}

.small-text {
    color: grey;
    font-size: 0.8rem;
}
.small-small-text {
    color: #056162;
    font-size: 0.6rem;
}

/* **************************************************************************** */